<app-navbar></app-navbar>
<app-filter></app-filter>



<!--
<div class="container p-3">
    <app-places (messageEvent)="receiveMessage($event)"></app-places>
</div>
-->

<h3>Route</h3>
<div class="container p-3">
    <div class="row">
        <div class="col map">
          <aol-map [width]="'800px'" height="'900px'">
            <aol-view [zoom]="zoom">
              <aol-coordinate [x]="lng" [y]="lat" [srid]="'EPSG:4326'"></aol-coordinate>
            </aol-view>
            <aol-layer-tile>
              <aol-source-osm></aol-source-osm>
            </aol-layer-tile>
          </aol-map>
        </div>

        <div class="col" *ngIf="osrmRootObject">
          Test
        </div>
    </div>
</div>

<h3>Results</h3>
<!--<app-results></app-results>-->
