<app-navbar></app-navbar>
<app-filter (resultMessageEvent)="receiveResultMessage($event)"></app-filter>

<!--
<div class="container p-3">
    <app-places (messageEvent)="receiveMessage($event)"></app-places>
</div>
-->

<h3>Route</h3>
<div class="container p-3">
  <div class="row">
    <div class="col map">
      <div style="height: 600px; width: 800px;"
           leaflet
           [leafletOptions]="options"
      >
      </div>
    </div>

    <div class="col" *ngIf="osrmRootObject">
      Test
    </div>
  </div>
</div>
